.container{
    display: flex;
    margin-top: 70px;
    background-color: #577056;
    position: relative;
    border-radius: 5px;
    flex-direction: column;
}

.nameContainer{
    position: relative;
    top: -20px;
    bottom: 5%;
    background-color: rgb(25, 111, 122);
    font-size: x-large;
    padding: 25px;
    color: rgb(175, 231, 123);
}


.speciesName{
    font-size: x-large;
    display: block
;}