.container{
    display: flex;
    margin-top: 50px;
    background-color: rgb(120, 187, 140);
    position: relative;
    border-radius: 4px;
    flex-direction: column;
}

.container:hover{
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.75);
    transition: 0.2s;
}

.closeBtn{
    position: relative;
    width: 23px;
    color: white;
    background-color: black;
    border-radius: 4px;
}

.closeBtn:hover{
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    background-color: #f81010;
}

.btnFav{
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(120, 187, 140);
}

.nameContainer{
    position: relative;
    top: -20px;
    width: auto;
    height: auto;
    bottom: 10%;
    background-color: rgb(25, 111, 122);
    font-size: large;
}

.name{
    text-decoration: none;
    color: rgb(175, 231, 123);
    font-size: large;
}

.speciesName{
    width: auto;
    height: auto;
    bottom: 10%;
    font-size: large;
    display: block
;}