.container{
    background-color:rgb(120, 187, 140) ;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn{
    padding: 7px 15px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    color: #0c1620;
    cursor: pointer;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.btn:hover{
    background-color: rgb(49, 255, 128);
    transition: 0.4s;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}

.NavLink{
    text-align: center;
    text-decoration: none;
    color: rgb(18, 58, 10);
}